# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# eslint cache
.eslintcache

# Agent Skills
.agents/skills
.claude/skills
.gemini/skills

# Claude Code
.claude/settings.local.json
